body {
  background-color: lightblue; width: 800px;
}
#nav-table {width: 800px;}
#george {width: 150px; height: 350px;}
#george2 {width: 150px; height: 350px;}
#strat {width: 150px; height: 350px;}
#ski {width: 150px; height: 350px;}
